# DSC 106 - Project 3

In [11]:
import pandas as pd

# Replace with your actual file paths
file1 = "mieko_data/J2_VIIRS_C2_Australia_NewZealand_VJ214IMGTDL_NRT_2024017.txt"
file2 = "mieko_data/J2_VIIRS_C2_Australia_NewZealand_VJ214IMGTDL_NRT_2024018.txt"
file3 = "mieko_data/J2_VIIRS_C2_Australia_NewZealand_VJ214IMGTDL_NRT_2024019.txt"

# Load a sample to inspect
df1 = pd.read_csv(file1)
df1.head()

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,confidence,version,bright_ti5,frp,daynight
0,-40.01019,175.51991,331.09,0.32,0.55,2024-01-17,02:53,2,nominal,2.0NRT,289.88,2.36,D
1,-28.49219,148.02907,367.00,0.53,0.67,2024-01-17,02:57,2,high,2.0NRT,297.17,23.98,D
2,-28.49811,148.03496,341.18,0.53,0.67,2024-01-17,02:57,2,nominal,2.0NRT,295.89,13.40,D
3,-28.49844,148.02945,367.00,0.53,0.67,2024-01-17,02:57,2,high,2.0NRT,296.35,13.90,D
4,-28.50469,148.02986,356.44,0.53,0.67,2024-01-17,02:57,2,low,2.0NRT,289.89,13.90,D

In [14]:
files = [file1, file2, file3]

In [ ]:
# Load all files into a list of DataFrames
dfs = [pd.read_csv(f) for f in files]

# Inspect one to make sure it loaded correctly
dfs[0].head()

,latitude,longitude,bright_ti4,scan,track,acq_date,acq_time,satellite,confidence,version,bright_ti5,frp,daynight
0,-40.01019,175.51991,331.09,0.32,0.55,2024-01-17,02:53,2,nominal,2.0NRT,289.88,2.36,D
1,-28.49219,148.02907,367.00,0.53,0.67,2024-01-17,02:57,2,high,2.0NRT,297.17,23.98,D
2,-28.49811,148.03496,341.18,0.53,0.67,2024-01-17,02:57,2,nominal,2.0NRT,295.89,13.40,D
3,-28.49844,148.02945,367.00,0.53,0.67,2024-01-17,02:57,2,high,2.0NRT,296.35,13.90,D
4,-28.50469,148.02986,356.44,0.53,0.67,2024-01-17,02:57,2,low,2.0NRT,289.89,13.90,D

In [16]:
df = pd.concat(dfs, ignore_index=True)

In [17]:
df['datetime'] = pd.to_datetime(df['acq_date'] + ' ' + df['acq_time'])

In [18]:
df = df.drop(columns=['acq_date', 'acq_time'])

In [21]:
df = df[['latitude', 'longitude', 'bright_ti4', 'frp', 'confidence', 'datetime']]

In [22]:
# Save as CSV
df.to_csv("wildfires_combined.csv", index=False)

# Save as JSON
df.to_json("wildfires_combined.json", orient='records', date_format='iso')